<div class="page-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-thermometer-half text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">35.2°C</h4>
          <p class="m-b-20">Temperatura</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-tint text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">40</h4>
          <p class="m-b-20">Lagështia Ajrit</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-lightbulb-o text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">55</h4>
          <p class="m-b-20">Ndriçimi</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-yelp text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">124</h4>
          <p class="m-b-20">Ndotja Ambientit</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-t-20">
          <div class="card-header-left">
            <h5>Temperatura</h5>
          </div>
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5 "></i>
          </div>
        </div>
        <div class="card-block-big card-power">
          <chart id="power-card-chart" [type]="'line'" [data]="powerCardData" [options]="powerCardOption"></chart>
          <div class="row">
            <div class="col-4">
              <div class="map-area">
                <h6 class="m-0">35.3</h6>
                <span>°C</span>
                <p class="text-muted m-0">Temperatura mesatare</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-t-20">
          <div class="card-header-left">
            <h5>Temperatura</h5>
          </div>
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5 "></i>
          </div>
        </div>
        <div class="card-block-big card-power">
          <chart id="power-card-chart" [type]="'line'" [data]="powerCardData" [options]="powerCardOption"></chart>
          <div class="row">
            <div class="col-4">
              <div class="map-area">
                <h6 class="m-0">35.3</h6>
                <span>°C</span>
                <p class="text-muted m-0">Temperatura mesatare</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-t-20">
          <div class="card-header-left">
            <h5>Temperatura</h5>
          </div>
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5 "></i>
          </div>
        </div>
        <div class="card-block-big card-power">
          <chart id="power-card-chart" [type]="'line'" [data]="powerCardData" [options]="powerCardOption"></chart>
          <div class="row">
            <div class="col-4">
              <div class="map-area">
                <h6 class="m-0">35.3</h6>
                <span>°C</span>
                <p class="text-muted m-0">Temperatura mesatare</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-t-20">
          <div class="card-header-left">
            <h5>Temperatura</h5>
          </div>
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5 "></i>
          </div>
        </div>
        <div class="card-block-big card-power">
          <chart id="power-card-chart" [type]="'line'" [data]="powerCardData" [options]="powerCardOption"></chart>
          <div class="row">
            <div class="col-4">
              <div class="map-area">
                <h6 class="m-0">35.3</h6>
                <span>°C</span>
                <p class="text-muted m-0">Temperatura mesatare</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
