<div class="page-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-cog text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">35.2°C</h4>
          <p class="m-b-20">Temperatura</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa-user-circle-o text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">40</h4>
          <p class="m-b-20">Lagështia Ajrit</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-envelope text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">55</h4>
          <p class="m-b-20">Ndriçimi</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-envelope text-c-blue d-block f-40"></i>
          <h4 class="m-t-20">124</h4>
          <p class="m-b-20">Ndotja Ambientit</p>
        </div>
      </div>
    </div>
  </div>
</div>
