<div class="page-body">
  <div class="col-xl-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Lista e senzorëve</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Ikona</th>
              <th>Tipi</th>
              <th>Zona</th>
              <th>Vlera e fundit</th>
              <th>Statusi</th>
            </tr>
            <tr>
              <td><i class="fa fa-thermometer-half text-c-blue d-block f-30"></i></td>
              <td>Temperatura</td>
              <td>Zona 4</td>
              <td>44</td>
              <td><span class="label label-primary">Aktiv</span></td>
            </tr>
            <tr>
              <td><i class="fa fa-tint text-c-blue d-block f-30"></i></td>
              <td>Lagështia</td>
              <td>Zona 2</td>
              <td>77</td>
              <td><span class="label label-danger">Jo Aktiv</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
