<div class="page-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-thermometer-half text-c-blue d-block f-40"></i>
          <h5 class="mb-4 mt-3">Temperatura</h5>
          <div class="row text-left">
            <div class="col-lg-6">
              <label>Vlera Min</label>
              <input type="number" class="form-control form-control-primary">
            </div>
            <div class="col-lg-6">
              <label>Vlera Max</label>
              <input type="number" class="form-control form-control-primary">
            </div>
          </div>
          <div class="row text-left mt-3">
            <div class="col-lg-12">
              <button class="btn btn-primary">Cakto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-tint text-c-blue d-block f-40"></i>
          <h5 class="mb-4 mt-3">Lagështia Ajrit</h5>
          <div class="row text-left">
            <div class="col-lg-6">
              <label>Vlera Min</label>
              <input type="number" class="form-control form-control-primary">
            </div>
            <div class="col-lg-6">
              <label>Vlera Max</label>
              <input type="number" class="form-control form-control-primary">
            </div>
          </div>
          <div class="row text-left mt-3">
            <div class="col-lg-12">
              <button class="btn btn-primary">Cakto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-lightbulb-o text-c-blue d-block f-40"></i>
          <h5 class="mb-4 mt-3">Ndriçimi</h5>
          <div class="row text-left">
            <div class="col-lg-6">
              <label>Vlera Min</label>
              <input type="number" class="form-control form-control-primary">
            </div>
            <div class="col-lg-6">
              <label>Vlera Max</label>
              <input type="number" class="form-control form-control-primary">
            </div>
          </div>
          <div class="row text-left mt-3">
            <div class="col-lg-12">
              <button class="btn btn-primary">Cakto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-yelp text-c-blue d-block f-40"></i>
          <h5 class="mb-4 mt-3">Ndotja Ambientit</h5>
          <div class="row text-left">
            <div class="col-lg-6">
              <label>Vlera Min</label>
              <input type="number" class="form-control form-control-primary">
            </div>
            <div class="col-lg-6">
              <label>Vlera Max</label>
              <input type="number" class="form-control form-control-primary">
            </div>
          </div>
          <div class="row text-left mt-3">
            <div class="col-lg-12">
              <button class="btn btn-primary">Cakto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
