<div class="page-body">
  <div class="row">
    <div class="col-sm-3" *ngFor="let konfigurimi of konfigurimet; let i = index">
      <div class="card">
        <div class="card-block text-center">
          <i *ngIf="konfigurimi.id == 1" class="fa fa-thermometer-half text-c-blue d-block f-40"></i>
          <i *ngIf="konfigurimi.id == 2" class="fa fa-tint text-c-blue d-block f-40"></i>
          <i *ngIf="konfigurimi.id == 3" class="fa fa-lightbulb-o text-c-blue d-block f-40"></i>
          <i *ngIf="konfigurimi.id == 4" class="fa fa-yelp text-c-blue d-block f-40"></i>
          <h5 class="mb-4 mt-3">{{konfigurimi.emri}}</h5>
          <div class="row text-left">
            <div class="col-lg-6">
              <label>Vlera Min</label>
              <input type="number" [class]="vleraMinClass" [(ngModel)]="konfigurimi.vleraMin">
            </div>
            <div class="col-lg-6">
              <label>Vlera Max</label>
              <input type="number" [class]="vleraMaxClass" [(ngModel)]="konfigurimi.vleraMax">
            </div>
          </div>
          <div class="row text-left mt-3">
            <div class="col-lg-12">
              <button class="btn btn-primary" (click)="update(konfigurimi.id, konfigurimi.vleraMin, konfigurimi.vleraMax)">Cakto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
